@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('../../public/fonts/Pretendard-Thin.otf');
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('../../public/fonts/Pretendard-ExtraLight.otf');
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('../../public/fonts/Pretendard-Light.otf');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../../public/fonts/Pretendard-Regular.otf');
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../../public/fonts/Pretendard-Medium.otf');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../../public/fonts/Pretendard-SemiBold.otf');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../../public/fonts/Pretendard-Bold.otf');
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('../../public/fonts/Pretendard-ExtraBold.otf');
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('../../public/fonts/Pretendard-Black.otf');
}

@layer base {
  body,
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
