@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('../../public/fonts/Pretendard-Thin.otf');
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('../../public/fonts/Pretendard-ExtraLight.otf');
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('../../public/fonts/Pretendard-Light.otf');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../../public/fonts/Pretendard-Regular.otf');
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../../public/fonts/Pretendard-Medium.otf');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../../public/fonts/Pretendard-SemiBold.otf');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../../public/fonts/Pretendard-Bold.otf');
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('../../public/fonts/Pretendard-ExtraBold.otf');
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('../../public/fonts/Pretendard-Black.otf');
}

@layer base {
  body,
  #root {
    font-family: Pretendard-Regular, system-ui, Arial;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .customH1 {
    @apply font-Pretendard7 text-[50px] leading-[56px] tracking-[-0.6%]
  }
  .customH2 {
    @apply font-Pretendard7 text-[40px] leading-[46px] tracking-[-0.6%]
  }
  .customH3 {
    @apply font-Pretendard7 text-[26px] leading-[39px] tracking-[-0.6%]
  }
  .body1 {
    @apply font-Pretendard7 text-[21px] leading-[37px] tracking-[-0.6%]
  }
  .body2 {
    @apply font-Pretendard7 text-[16px] leading-[24px] tracking-[-0.6%]
  }
  .body3 {
    @apply font-Pretendard7 text-[13px] leading-[21px] tracking-[-0.6%]
  }
  .subH1 {
    @apply font-Pretendard7 text-[21px] leading-[37px] tracking-[-0.6%]
  }
  .subH2 {
    @apply font-Pretendard7 text-[16px] leading-[24px] tracking-[-0.6%]
  }
}
