@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-Thin.subset.woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-ExtraLight.subset.woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-Light.subset.woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-Regular.subset.woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-Medium.subset.woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-SemiBold.subset.woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-Bold.subset.woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-ExtraBold.subset.woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-Black.subset.woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'AbhayaLibre';
  src: url('../public/fonts/AbhayaLibre-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@layer base {
  body,
  #root {
    font-family: Pretendard, system-ui, Arial;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    font-size: 62.5%;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .toggleOn {
    @apply desktop:hidden font-Pretendard font-normal text-[1.625rem] tablet:text-[2rem] top-12 left-0 z-[80] w-[100vw] h-[calc(100vh-3rem)] absolute bg-white;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
